In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np
import pandas as pd

### Sales video game dataset k means

In [3]:
vsg = pd.read_csv("vsales.csv")

In [4]:
vsg

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.00,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...,...
16319,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16320,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16321,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16322,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16323,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [5]:
vsg_cols = vsg[vsg.columns[:6]]
vsg_cols

,Rank,Name,Platform,Year,Genre,Publisher
0,259,Asteroids,2600,1980,Shooter,Atari
1,545,Missile Command,2600,1980,Shooter,Atari
2,1768,Kaboom!,2600,1980,Misc,Activision
3,1971,Defender,2600,1980,Misc,Atari
4,2671,Boxing,2600,1980,Fighting,Activision
...,...,...,...,...,...,...
16319,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver
16320,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom
16321,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment
16322,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software
16323,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create

In [6]:
#vsg_num = vsg[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]
vsg_num = vsg[vsg.columns[6:]]
vsg_num

       NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0          4.00      0.26      0.00         0.05          4.31
1          2.56      0.17      0.00         0.03          2.76
2          1.07      0.07      0.00         0.01          1.15
3          0.99      0.05      0.00         0.01          1.05
4          0.72      0.04      0.00         0.01          0.77
...         ...       ...       ...          ...           ...
16319      0.01      0.00      0.00         0.00          0.01
16320      0.01      0.00      0.00         0.00          0.01
16321      0.00      0.01      0.00         0.00          0.01
16322      0.00      0.01      0.00         0.00          0.01
16323      0.00      0.00      0.01         0.00          0.01

[16324 rows x 5 columns]

In [7]:
vsg_num.info()

vsg_num.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16324 entries, 0 to 16323
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NA_Sales      16324 non-null  float64
 1   EU_Sales      16324 non-null  float64
 2   JP_Sales      16324 non-null  float64
 3   Other_Sales   16324 non-null  float64
 4   Global_Sales  16324 non-null  float64
dtypes: float64(5)
memory usage: 637.8 KB

           NA_Sales      EU_Sales      JP_Sales   Other_Sales  Global_Sales
count  16324.000000  16324.000000  16324.000000  16324.000000  16324.000000
mean       0.265464      0.147581      0.078673      0.048334      0.540328
std        0.821658      0.508809      0.311584      0.189902      1.565860
min        0.000000      0.000000      0.000000      0.000000      0.010000
25%        0.000000      0.000000      0.000000      0.000000      0.060000
50%        0.080000      0.020000      0.000000      0.010000      0.170000
75%        0.240000      0.110000      0.040000      0.040000      0.480000
max       41.490000     29.020000     10.220000     10.570000     82.740000

### A B C D E examples

In [ ]:
abcde = pd.read_csv("abcde.csv")
abcde

In [ ]:
abcde_cols = abcde[abcde.columns[:1]]
print(abcde_cols)
abcde = abcde[abcde.columns[1:]]
abcde

### Practice

In [ ]:
piif = pd.read_csv("piif.csv")
piif

In [ ]:
piif_cols = piif[piif.columns[:1]]
piif_cols

In [ ]:
piif = piif[piif.columns[1:]]
piif

## K-means My Implantation

In [24]:
dataset = vsg_num

cols = vsg_cols

In [ ]:
k = 2

centers_indexes = np.random.randint(dataset.index[0],dataset.index[-1] + 1,k)
centers_indexes.sort()
centers_indexes

### Method 1

In [ ]:
C_sets = []

for i in range(len(centers_indexes)):
    if i + 1 > len(centers_indexes) - 1 :
        temp = dataset.iloc[mean:]
        C_sets.append(temp)
        break
    mean = (centers_indexes[i]+centers_indexes[i+1])//2    
    temp = dataset.iloc[:mean]
    C_sets.append(temp)

# pre_indx = 0
# for i in centers_indexes:
#     temp = vsg_num.iloc[pre_indx:i+1]
#     pre_indx = i+2
#     C_sets.append(temp)
# C_sets.append(vsg_num.iloc[pre_indx:])

#C_sets

In [ ]:
def distances(cset):
    dist = np.array([])
    cmean = cset.mean()
    for items in cset.index:
        dist = np.append(dist,np.linalg.norm(cset.loc[items] - cmean))
    return dist

In [ ]:
def distance(point_1,point_2):
    dist = np.append(dist,np.linalg.norm(point_1 - point_2))
    return dist

In [ ]:
def update():
    dists = 0 
    maxi={}
    mini={}
    for mat in C_sets:
        if mat.empty:
            mini[-1] = -1
            maxi[-1] = -1
            dists += 0
            continue
        distlist = distances(mat)
        mini[np.argmin(distlist)] = np.min(distlist)
        maxi[np.argmax(distlist)] = np.max(distlist)
        dists += np.sum(distlist)
    return (dists,mini,maxi)

In [ ]:
def most_max(dict):
    maxn = 0
    maxi = 0
    whichset = 0
    iters = 0
    for key, value in dict.items():
        if maxn < value:
            maxn = value
            maxi = key
            whichset = iters
        iters +=1
    return maxn,maxi,whichset

In [ ]:
def backup(base):
    echo = []
    for df in base:
        echo.append(df.copy())
    return echo

In [ ]:
def real_i(mat,ix):
    return mat.index[ix]

In [ ]:
def join_with_cols(csets,cols):
    for df in csets:
        for col in cols:
            temp = []
            for row in df.index:
                temp.append(cols.loc[row][col])
            df[col] = temp

In [ ]:
def display(csets):
    for df in csets:
        print(df,"\n")
    print("\nEF : ",stable_ef,"\n")

In [ ]:
ef = -1
stable_ef = -1

min_dist_i = {}
max_dist_i = {}

backup_stable_C_sets = []

In [ ]:
#test = backup(C_sets)
#C_sets = test.copy()
C_sets

In [ ]:
step = 300
while step:
    ef,min_dist_i,max_dist_i = update()
    if stable_ef == -1:
        stable_ef = ef
        backup_stable_C_sets = backup(C_sets)
    if ef < stable_ef:
        stable_ef = ef
        backup_stable_C_sets = backup(C_sets)
    
    
    mostm = most_max(max_dist_i)
    #print(ef," - ",stable_ef,"  - ",mostm)
    temprow = C_sets[mostm[2]].iloc[mostm[1]]
    #print("row:\n",temprow,"\n")
    for i in range(len(C_sets)):
        if i == mostm[2]:
            continue
        #print("befor:\n",C_sets[i])
        C_sets[i].loc[real_i(C_sets[mostm[2]],mostm[1]) ] = temprow.copy()
        C_sets[mostm[2]] = C_sets[mostm[2]].drop(C_sets[mostm[2]].index[mostm[1]])
        #print("\nafter:\n",C_sets[i],"\n\n")
        break
    
    step-=1

In [ ]:
backup_stable_C_sets

In [ ]:
join_with_cols(backup_stable_C_sets,cols)

In [ ]:
display(backup_stable_C_sets)

In [ ]:
backup_stable_C_sets[1]

### Method 2

In [9]:
import random

In [10]:
def distance_element_to_array_with_mean(dataset,mean):
    dist = np.array([])
    for items in dataset.index:
        dist = np.append(dist,distance_two_elements(dataset.loc[items],mean))
    return dist

In [11]:
def distance_element_to_array(dataset,dataset_i,elm):
    dist = np.array([])
    for items in dataset_i:
        dist = np.append(dist,distance_two_elements(dataset.iloc[items],elm))
    return dist

In [12]:
def distance_two_elements(point_1,point_2):
    return np.linalg.norm(point_1 - point_2)

In [13]:
def k_select(dataset,k):
    centers_indexes = np.array(random.sample(range(dataset.index[0],dataset.index[-1] + 1),k))

    centers_indexes.sort()
    return centers_indexes

In [14]:
def in_group(num,lists):
    for i,n in enumerate(lists):
        if num == n:
            return i

In [15]:
def grouping(dataset,centers):
    groups = np.array([])
    for elm in dataset.index:
        elm_center_distances = distance_element_to_array(dataset,centers,dataset.iloc[elm])
        near_distance = np.min(elm_center_distances)
        near_distance_i = in_group(near_distance,elm_center_distances)
        groups = np.append(groups,near_distance_i)
    return groups

In [16]:
def calculate_means_groups(dataset,centers,groups):
    ef = 0
    far_distance = -1
    far_distance_i = -1
    
    for count_groups in range(len(centers)):
        temp_df_gp = dataset.iloc[np.where(groups==count_groups)]
        mean_gp = np.mean(temp_df_gp)
        distance_items_with_mean = distance_element_to_array_with_mean(temp_df_gp,mean_gp)
        
        ef += np.sum(distance_items_with_mean)
        temp_max = np.max(distance_items_with_mean)
        
        if far_distance == -1 or far_distance < temp_max:
            far_distance = temp_max
            far_distance_i = temp_df_gp.iloc[in_group(temp_max,distance_items_with_mean)].name
            
    return ef,far_distance,far_distance_i

In [17]:
def change_group(dataset,centers,groups,distance_own_group,change_item_i):
    for count_groups in range(len(centers)):
        if change_item_i != count_groups:
            temp_df_gp = dataset.iloc[np.where(groups==count_groups)]
            mean_gp = np.mean(temp_df_gp)
            distance_with_other_group = distance_two_elements(dataset.iloc[change_item_i],mean_gp)
            if distance_with_other_group < distance_own_group:
                groups[change_item_i] = count_groups
                return groups
    return groups

In [ ]:
print(dataset)
print(cols)

In [ ]:
centers = k_select(dataset,2)
print("centers : ",centers)

groups = grouping(dataset,centers)
print("groups : ",groups)

In [ ]:
ef_optimal = None
groups_optimal = None

In [ ]:
step = 10 #300
while step:
    ef,far_item,far_item_i = calculate_means_groups(dataset,centers,groups)
    
    if ef_optimal == None or ef < ef_optimal:
        ef_optimal = ef 
        groups_optimal = groups.copy()
    
    groups = change_group(dataset,centers,groups,far_item,far_item_i)
    
    step -= 1

In [ ]:
groups_optimal

### Best K

In [18]:
def distance_with_own_cluster(dataset,centers,groups,elm_i):
    temp_df_gp = dataset.iloc[np.where(groups==groups[elm_i])]
    counter = 0
    sum_distance = 0
    for index in temp_df_gp.index:
        if elm_i == index:
            continue
        sum_distance += distance_two_elements(dataset.iloc[elm_i],temp_df_gp.loc[index])
        counter += 1
    if counter == 0:
        return 1
    return sum_distance/counter

In [19]:
def distance_with_other_cluster(dataset,centers,groups,elm_i):
    distance_with_other = np.array([])
    for count_groups in range(len(centers)):
        if count_groups == groups[elm_i]:
            continue
        temp_df_gp = dataset.iloc[np.where(groups==count_groups)]
        counter = 0
        sum_distance = 0
        for index in temp_df_gp.index:
            sum_distance += distance_two_elements(dataset.iloc[elm_i],temp_df_gp.loc[index])
            counter += 1
        if counter != 0:
            distance_with_other = np.append(distance_with_other,sum_distance/counter)
    return np.min(distance_with_other)

In [20]:
def s_ai(dataset,centers,groups):
    s_i = np.array([])
    
    for indx in dataset.index:
        a_i = distance_with_own_cluster(dataset,centers,groups,indx)
        b_i = distance_with_other_cluster(dataset,centers,groups,indx)
        s = (a_i + b_i)/np.max([a_i,b_i])
        s_i = np.append(s_i,s)
    
    s_c = np.array([])
    for count_groups in range(len(centers)):
        temp_df_gp = dataset.iloc[np.where(groups==count_groups)]
        sum_cluster = 0
        counter_cluster = 0
        for indx in temp_df_gp.index:
            sum_cluster += s_i[indx]
            counter_cluster += 1
        s_c = np.append(s_c,sum_cluster/counter_cluster)
    return np.sum(s_c)/len(s_c)

In [21]:
def k_means(dataset,centers,groups,step):
    ef_optimal = None
    groups_optimal = None
    
    steps = step
    
    while step:
        ef,far_item,far_item_i = calculate_means_groups(dataset,centers,groups)

        if ef_optimal == None or ef < ef_optimal:
            ef_optimal = ef 
            groups_optimal = groups.copy()

        groups = change_group(dataset,centers,groups,far_item,far_item_i)

        step -= 1
        
    return ef_optimal,groups_optimal,groups

In [22]:
def choose_best_k(s_c):
    return in_group(np.max(s_c),s_c)

In [25]:
k = 2
k_max = len(dataset) if 10 > len(dataset) else 10

ef_optimals = np.array([])
s_c_optimals = np.array([])
k_optimals = np.array([])

while k_max >= k: 
    centers = k_select(dataset,k)
    groups = grouping(dataset,centers)
    
    print("centers :",centers,"\nk :",k)

    ef_optimal,groups_optimal,groups = k_means(dataset,centers,groups,step=10)
    
    print("\ngroups :",groups)
    
    k_optimals = np.append(k_optimals,k)
    s_c_optimals = np.append(s_c_optimals,s_ai(dataset,centers,groups))
    ef_optimals = np.append(ef_optimals,ef_optimal)
    k += 1

centers : [4505 8612]
k : 2

groups : [0. 0. 0. ... 1. 1. 1.]

KeyboardInterrupt:

In [ ]:
k = k_optimals[choose_best_k(s_c_optimals)]
print("Best K is :",k)
print("\nBest S_C is :",s_c_optimals[choose_best_k(s_c_optimals)])

centers = k_select(dataset,int(k))
groups = grouping(dataset,centers)
temp = k_means(dataset,centers,groups,step=10)

print("\nBest Group is :",temp[2])
print("\nBest EF is :",ef_optimals[choose_best_k(s_c_optimals)])

## K-means Implantation On Internet

In [ ]:
#!pip install -U scikit-learn

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
datasetnp = dataset.to_numpy()
kmeans = KMeans(n_clusters=2, random_state=0, n_init="auto").fit(datasetnp)

In [ ]:
datasetnp

In [ ]:
kmeans.labels_
# print(np.where(kmeans.labels_ == 1),"\n\n")
# print(np.where(kmeans.labels_ == 0))
# temp = [[] for i in range(k)]
# for i in range(len(kmeans.labels_)):
#     temp[kmeans.labels_[i]].append(cols.loc[i][0])
    
# print(temp)

In [ ]:
# dd = pd.Series(kmeans.labels_)
# dd[dd==1]

In [ ]:
size = 0
for indx in range(len(kmeans.labels_)):
    if kmeans.labels_[indx] == 0 and indx in backup_stable_C_sets[0]:
        siez += 1

print(size , backup_stable_C_sets[1].size)